/*  your css code here. If applicable */

h1 {
	text-align: center;
}

h3 {
	color: purple;
}
a {
	color: blue;
}
p {
	font-size: 10px;
	color: blue;
}
h4 {
	color: purple;
}
p1 {
	font-size: 10px;
	color: purple;
}